<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebRTC 화상 회의</title>
    <link rel="icon" type="image/x-icon" href="../public/image-assets/logo-favicon.png">
    <link rel="stylesheet" href="../public/css/style-room.css">
</head>
<body>
    <div class="container">
        <div id="form" class="glow">
            <div id="content">
                <div class="left-content">
                    <div class="top-left">
                        <div class="logo">
                            <img src="../public/image-assets/logo.png" style="height: 35px; margin-top: 12px;">
                        </div>
                        <div class="header">
                            <p style="margin: 0px; padding: 12px 0px 0px 10px; font-weight: bold;">WebRTC 화상 회의</p>
                            <p id="date" style="margin: 0px; padding: 0px 0px 0px 10px; font-size: 10pt;">2024년 11월 26일, 화요일</p>
                            <span id="power" onclick="leaveMeeting()">
                                <i class="material-icons">&#xe8ac;</i>
                            </span>
                        </div>
                    </div>
                    <div class="middle-left">
    
                    </div>
                    <div class="bot-left">
                        
                    </div>
                </div> <!-- left-content end -->
                <div class="right-content">

                </div> <!-- right-content end -->
            </div>
        </div>
    </div>
</body>
</html>