* {
    margin: 0;
    padding: 0;
}

html {
    background: url("../image-assets/background.jpg") no-repeat center;
    background-size: 100%;
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS', sans-serif;
}

.container {
    width: 1050px;
    height: 610px;
    border-radius: 25px;
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(10px);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #ffffff;
}

.left-content {
    width: 690px;
    height: 610px;
    margin: 20px 20px 0px 20px;
    float: left;
}

.top-left {
    height: 75px;
    float: left;
}

.logo {
    float: left;
}

.header {
    width: 598px;
    height: 65px;
    float: left;
    margin: 0px 0px 10px 13px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 2px solid #ffffff;
}

#power {
    width: 45px;
    height: 24px;
    float: right;
    position: relative;
    right: 17px;
    bottom: 32px;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    border: thin solid #d0d0d0;
    background-color: rgba(255, 255, 255, 0.6);
}

#power:hover {
    color: #fd6f13;
    border: thin solid #fd6f13;
}

.middle-left {
    width: 100%;
    height: 415px;
    float: left;
}